html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

#yui3-css-stamp.cssreset {
  display: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 2;
  font-size: 14px;
  color: #4c4949;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

@media screen and (min-width: 769px) {
  body {
    min-width: 1220px;
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 769px) {
  a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover {
    opacity: 0.7;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #000;
  font-size: 16px;
  border-radius: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  border: none;
  display: block;
  text-align: center;
  font-size: 16px;
}

@media screen and (min-width: 769px) {
  .u-sp {
    display: none;
  }
}

.u-pc {
  display: none;
}

@media screen and (min-width: 769px) {
  .u-pc {
    display: block;
  }
}

.u-ptb-m {
  padding: 50px 0;
}

@media screen and (min-width: 769px) {
  .u-ptb-m {
    padding: 70px 0;
  }
}

.u-wrap-s, .u-wrap, .u-wrap-l {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .u-wrap-s, .u-wrap, .u-wrap-l {
    padding: 0 10px;
  }
}

@media screen and (min-width: 769px) {
  .u-wrap-s {
    width: 760px;
  }
}

@media screen and (min-width: 769px) {
  .u-wrap {
    width: 1220px;
  }
}

@media screen and (min-width: 769px) {
  .u-wrap-l {
    width: 1400px;
  }
}

.footer {
  height: 40px;
  background: #dee426;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .footer {
    height: 60px;
  }
}

.header {
  height: 60px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0 5%;
}

@media screen and (min-width: 769px) {
  .header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    height: 70px;
  }
}

@media screen and (min-width: 769px) {
  .header__logo-wrap {
    width: 1220px;
    margin: 0 auto;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo a {
  display: block;
  width: 100px;
}

@media screen and (min-width: 769px) {
  .header__logo a {
    width: 140px;
  }
}

@media screen and (min-width: 769px) {
  .header__logo p {
    font-size: 10px;
    margin-left: 10px;
    font-weight: bold;
    color: #231815;
  }
}

.header__link {
  background: #6dc497;
  color: #fff;
  font-weight: bold;
  display: block;
  height: 40px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
}

@media screen and (min-width: 769px) {
  .header__link {
    position: absolute;
    border-radius: 0;
    right: 0;
    top: 0;
    height: 70px;
    width: 200px;
    letter-spacing: 0.15em;
    font-size: 18px;
  }
}

.header__link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__link span::before {
  content: "";
  display: inline-block;
  background-image: url(../img/ic_document.svg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 769px) {
  .header__link span::before {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 769px) {
  .header__link span::after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.top-about {
  position: relative;
  padding-bottom: 50px;
}

@media screen and (min-width: 769px) {
  .top-about {
    padding-bottom: 70px;
  }
}

.top-about__sec-ttl {
  text-align: center;
  background: #4c4949;
  color: #fff;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  max-width: 400px;
  margin: 0 auto 40px;
  position: relative;
  font-weight: bold;
  line-height: 1.6;
  font-size: 16px;
  border-radius: 5px;
}

@media screen and (min-width: 769px) {
  .top-about__sec-ttl {
    font-size: 22px;
  }
}

.top-about__sec-ttl span {
  display: block;
  height: 100%;
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.top-about__sec-ttl span::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  content: "";
  -webkit-transform: translateX(-76%) translateY(-70%) rotate(126deg);
  transform: translateX(-76%) translateY(-70%) rotate(126deg);
  background: #dee426;
}

@media screen and (min-width: 769px) {
  .top-about__sec-ttl span::after {
    -webkit-transform: translateX(-68%) translateY(-70%) rotate(126deg);
    transform: translateX(-68%) translateY(-70%) rotate(126deg);
  }
}

.top-about__sec-ttl:before {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 15px solid #4c4949;
}

.top-about__sec-wrap {
  position: relative;
  z-index: 1;
  margin-top: -80px;
}

.top-about__sec {
  background: #fff;
  margin-top: 15px;
  border-radius: 8px;
  padding: 40px 10px;
}

@media screen and (min-width: 769px) {
  .top-about__sec {
    border-radius: 10px;
    padding: 60px;
  }
}

.top-about__sec:first-child {
  margin-top: 0;
}

.top-about__copy {
  position: relative;
  padding-bottom: 40px;
}

.top-about__copy::after {
  content: "";
  display: block;
  background-color: #6dc497;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  z-index: -2;
}

@media screen and (min-width: 769px) {
  .top-about__copy::after {
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
  }
}

.top-about__copy::before {
  content: "";
  display: block;
  background: -webkit-repeating-linear-gradient(45deg, #dee426 0, #dee426 1px, #fff 1px, #fff 10px);
  background: repeating-linear-gradient(45deg, #dee426 0, #dee426 1px, #fff 1px, #fff 10px);
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  z-index: -2;
}

@media screen and (min-width: 769px) {
  .top-about__copy::before {
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
  }
}

.top-about__copy-inner {
  padding: 50px 0 70px;
}

.top-about__copy-bg {
  content: "";
  display: block;
  background-color: #dee426;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) skewY(-6deg);
  transform: translateY(-50%) skewY(-6deg);
  z-index: -1;
}

@media screen and (min-width: 769px) {
  .top-about__copy-bg {
    -webkit-transform: translateY(-50%) skewY(-5deg);
    transform: translateY(-50%) skewY(-5deg);
  }
}

.top-about__copy-ttl {
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .top-about__copy-ttl {
    max-width: 600px;
  }
}

.top-about__copy-txt {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .top-about__copy-txt {
    font-size: 18px;
  }
}

.top-about__copy-txt > span {
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .top-about__copy-txt > span {
    font-size: 22px;
  }
}

.top-about__copy-txt > span > span {
  text-decoration: underline;
}

.top-about__copy-bg-gray {
  background: #f8f8f7;
  position: absolute;
  width: 100%;
  height: calc(100% - 200px);
  left: 0;
  bottom: 0;
  z-index: -3;
}

.top-about__solution-item {
  padding: 20px 0;
  border-bottom: 1px dashed #4c494999;
}

@media screen and (min-width: 769px) {
  .top-about__solution-item {
    padding: 40px 0;
  }
}

.top-about__solution-item:first-child {
  padding-top: 0;
}

.top-about__solution-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.top-about__solution-item-ttl {
  width: 65px;
  margin: 0 auto;
}

.top-about__solution-item-trouble {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.8;
}

@media screen and (min-width: 769px) {
  .top-about__solution-item-trouble > span {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #dee426));
    background: -webkit-linear-gradient(transparent 70%, #dee426 70%);
    background: linear-gradient(transparent 70%, #dee426 70%);
  }
}

.top-about__solution-item-trouble > span > span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #dee426));
  background: -webkit-linear-gradient(transparent 70%, #dee426 70%);
  background: linear-gradient(transparent 70%, #dee426 70%);
}

@media screen and (min-width: 769px) {
  .top-about__solution-item-trouble > span > span {
    background: none;
    font-size: 24px;
  }
}

.top-about__solution-item-main {
  background: #fbfce7;
  border-radius: 8px;
  margin-top: 20px;
  padding: 20px 15px;
}

@media screen and (min-width: 769px) {
  .top-about__solution-item-main {
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 150px;
  }
}

.top-about__solution-item-main-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #dee426;
  padding: 8px 5px;
  width: 180px;
  margin: 0 auto;
  border-radius: 50px;
  position: relative;
}

@media screen and (min-width: 769px) {
  .top-about__solution-item-main-icon {
    width: 160px;
    display: block;
    margin: 0;
  }
}

.top-about__solution-item-main-icon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 15px solid #dee426;
}

@media screen and (min-width: 769px) {
  .top-about__solution-item-main-icon:before {
    top: 50%;
    left: 100%;
    margin-left: -2px;
    margin-top: -8px;
    border-top: 8px solid transparent;
    border-left: 15px solid #dee426;
  }
}

.top-about__solution-item-main-icon > div {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .top-about__solution-item-main-icon > div {
    margin: 0 auto;
  }
}

.top-about__solution-item-main-icon > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

@media screen and (min-width: 769px) {
  .top-about__solution-item-main-icon > span {
    display: block;
    text-align: center;
    line-height: 1;
  }
}

.top-about__solution-item-main-txt {
  margin-top: 30px;
  line-height: 1.8;
  font-style: italic;
}

@media screen and (min-width: 769px) {
  .top-about__solution-item-main-txt {
    width: calc(100% - 200px);
    margin-top: 0;
  }
}

.top-about__image-item {
  border: 1px solid #4c4949;
  border-radius: 8px;
  padding: 20px 15px;
  margin-top: 15px;
}

.top-about__image-item:first-child {
  margin-top: 0;
}

@media screen and (min-width: 769px) {
  .top-about__image-item {
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 80px * 4);
  }
  .top-about__image-item::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 110px;
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 769px) {
  .top-about__image-item01 {
    margin-left: calc(80px * (1 - 1));
  }
  .top-about__image-item01::before {
    background-image: url(../img/ic_step01.svg);
  }
}

@media screen and (min-width: 769px) {
  .top-about__image-item02 {
    margin-left: calc(80px * (2 - 1));
  }
  .top-about__image-item02::before {
    background-image: url(../img/ic_step02.svg);
  }
}

@media screen and (min-width: 769px) {
  .top-about__image-item03 {
    margin-left: calc(80px * (3 - 1));
  }
  .top-about__image-item03::before {
    background-image: url(../img/ic_step03.svg);
  }
}

@media screen and (min-width: 769px) {
  .top-about__image-item04 {
    margin-left: calc(80px * (4 - 1));
  }
  .top-about__image-item04::before {
    background-image: url(../img/ic_step04.svg);
  }
}

@media screen and (min-width: 769px) {
  .top-about__image-item05 {
    margin-left: calc(80px * (5 - 1));
  }
  .top-about__image-item05::before {
    background-image: url(../img/ic_step05.svg);
  }
}

@media screen and (min-width: 769px) {
  .top-about__image-item-inner {
    width: calc(100% - 100px);
  }
}

.top-about__image-item-ttl {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .top-about__image-item-ttl {
    font-size: 20px;
  }
}

.top-about__image-item-ttl::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 50px;
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
}

@media screen and (min-width: 769px) {
  .top-about__image-item-ttl::before {
    display: none;
  }
}

.top-about__image-item-ttl01::before {
  background-image: url(../img/ic_step01.svg);
}

.top-about__image-item-ttl02::before {
  background-image: url(../img/ic_step02.svg);
}

.top-about__image-item-ttl03::before {
  background-image: url(../img/ic_step03.svg);
}

.top-about__image-item-ttl04::before {
  background-image: url(../img/ic_step04.svg);
}

.top-about__image-item-ttl05::before {
  background-image: url(../img/ic_step05.svg);
}

.top-about__image-item-txt {
  line-height: 1.8;
  margin-top: 15px;
}

@media screen and (min-width: 769px) {
  .top-about__image-item-txt {
    margin-top: 5px;
  }
}

.top-about__difference {
  padding: 40px 0;
}

@media screen and (min-width: 769px) {
  .top-about__difference {
    padding: 60px;
  }
}

.top-about__difference-ttl {
  padding: 0 10px;
}

@media screen and (min-width: 769px) {
  .top-about__difference-ttl {
    padding: 0;
  }
}

.top-about__difference-txt {
  text-align: center;
  font-weight: bold;
  line-height: 1.8;
  padding: 0 10px;
}

@media screen and (min-width: 769px) {
  .top-about__difference-txt {
    font-size: 22px;
    padding: 0;
  }
}

.top-about__difference-arrow {
  margin: 20px auto 0;
  width: 60px;
  position: relative;
}

.top-about__difference-arrow::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #6dc497;
  margin: 0 auto;
}

.top-about__difference-arrow span {
  color: #6dc497;
  display: block;
  text-align: center;
  position: relative;
}

.top-about__difference-arrow span::after {
  position: absolute;
  right: -8px;
  bottom: -4px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid #6dc497;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.top-about__difference-arrow span::before {
  position: absolute;
  left: -8px;
  bottom: -4px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 8px solid #6dc497;
  border-bottom: 5px solid transparent;
}

.top-about__difference-table-wrap {
  overflow: auto;
  white-space: nowrap;
}

.top-about__difference-table {
  width: 600px;
  margin-top: 20px;
  font-size: 10px;
}

@media screen and (min-width: 769px) {
  .top-about__difference-table {
    width: 100%;
    font-size: 14px;
  }
}

.top-about__difference-table th {
  width: calc(100% / 4);
  background: #f4f4f4;
  text-align: center;
  padding: 8px 5px;
  border-bottom: 1px solid #4c4949;
  border-left: 1px solid #4c4949;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .top-about__difference-table th {
    padding: 8px 15px;
  }
}

.top-about__difference-table th:nth-child(1) {
  border-left: none;
}

.top-about__difference-table th:nth-child(2) {
  background: #6dc497;
}

.top-about__difference-table td {
  text-align: center;
  padding: 8px 5px;
  border-left: 1px solid #4c4949;
  border-bottom: 1px solid #4c4949;
}

@media screen and (min-width: 769px) {
  .top-about__difference-table td {
    padding: 8px 15px;
  }
}

.top-about__difference-table td:nth-child(1) {
  text-align: left;
  border-left: none;
  font-weight: bold;
}

.top-about__difference-table td:nth-child(2) {
  background: #e9f6ef;
}

.top-about__difference-table-logo {
  width: 80px;
  margin: 0 auto;
}

.top-about__difference-definition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .top-about__difference-definition {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.top-about__difference-definition li {
  margin-left: 10px;
  font-size: 12px;
}

@media screen and (min-width: 769px) {
  .top-about__difference-definition li {
    font-size: 14px;
  }
}

.top-about__difference-definition li:first-child {
  margin-left: 0;
}

.top-about__plan-txt {
  text-align: center;
  font-weight: bold;
  line-height: 1.8;
}

@media screen and (min-width: 769px) {
  .top-about__plan-txt {
    font-size: 22px;
  }
}

.top-about__plan-example {
  border: 2px solid #4c4949;
  border-radius: 8px;
  max-width: 550px;
  margin: 20px auto 0;
  text-align: center;
  padding: 15px 10px 20px;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .top-about__plan-example {
    border-radius: 10px;
    padding: 30px 40px 40px;
  }
}

.top-about__plan-example-price span {
  line-height: 1.4;
}

.top-about__plan-example-price span:nth-child(1) {
  font-size: 36px;
}

@media screen and (min-width: 769px) {
  .top-about__plan-example-price span:nth-child(1) {
    font-size: 40px;
  }
}

.top-about__plan-example-price span:nth-child(2) {
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .top-about__plan-example-price span:nth-child(2) {
    font-size: 22px;
  }
}

.top-about__plan-example-price span:nth-child(3) {
  font-size: 12px;
}

.top-about__plan-example-item {
  border-bottom: 1px solid #4c494999;
  padding: 5px 0;
}

.top-about__cta {
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#6dc497), to(#3da675));
  background: -webkit-linear-gradient(left, #6dc497 0%, #3da675 100%);
  background: linear-gradient(90deg, #6dc497 0%, #3da675 100%);
  text-align: center;
  letter-spacing: 0.1em;
  padding: 8px 10px;
  border-radius: 50px;
  margin: 40px auto 0;
  width: 100%;
  max-width: 240px;
  font-size: 16px;
  color: #fff;
  position: relative;
  font-weight: bold;
}

.top-about__cta::after {
  position: absolute;
  right: 15px;
  top: 20px;
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top-form__ttl {
  font-weight: bold;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4c4949;
}

@media screen and (min-width: 769px) {
  .top-form__ttl {
    font-size: 20px;
  }
}

.top-form__ttl::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #dee426;
  margin-right: 5px;
}

.top-form__privacy {
  color: #4c4949;
  margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .top-form__privacy {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(1200px - 585px);
    padding-right: 60px;
    margin-top: 0;
  }
}

.top-form__privacy-ttl {
  font-size: 18px;
}

.top-form__privacy-txt {
  font-size: 11px;
  max-height: 160px;
  overflow-y: scroll;
}

.top-form__privacy-txt::-webkit-scrollbar {
  width: 8px;
}

.top-form__privacy-txt::-webkit-scrollbar-track {
  background: #eee;
}

.top-form__privacy-txt::-webkit-scrollbar-thumb {
  background: #929292;
}

@media screen and (min-width: 769px) {
  .top-form__privacy-txt {
    font-size: 12px;
  }
}

.top-form__privacy-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5px;
  font-size: 14px;
}

.top-form__privacy-company::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #4c4949;
  margin-right: 3px;
  border-radius: 50%;
}

.top-form__privacy-company a {
  color: #5b9dcd;
  text-decoration: underline;
}

.top-form__privacy-logo {
  margin-top: 5px;
  width: 80px;
}

@media screen and (min-width: 769px) {
  .top-form__contact {
    position: relative;
    padding-left: calc(1200px - 585px);
    margin-top: 40px;
  }
}

.top-form__item {
  margin-top: 12px;
}

.top-form__item input[type="text"],
.top-form__item input[type="email"] {
  padding: 15px 10px;
}

@media screen and (min-width: 769px) {
  .top-form__item input[type="text"],
  .top-form__item input[type="email"] {
    padding: 12px;
  }
}

.top-form__accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-form__accept label {
  margin-left: 8px;
  font-size: 14px;
}

.top-form__submit {
  margin-top: 20px;
}

.top-form__submit button {
  background: #4c4949;
  color: #fff;
  border-radius: 30px;
  max-width: 250px;
  padding: 13px 5px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-form__submit button:hover {
  opacity: 0.7;
}

.top-form__submit button:disabled {
  background: #e7e7e7;
  color: #c6c6c6;
  cursor: default;
}

.top-form__submit button:disabled:hover {
  opacity: 1;
}

.top-form__error {
  color: red;
}

.top-form .is-form-submit-completion {
  color: #009fff;
  border: 1px solid #009fff;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  background: #e3f4ff;
  padding: 10px;
}

.top-kv {
  height: 518px;
  background-image: url(../img/pic_top_kv_sp@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .top-kv {
    height: 700px;
  }
}

@media screen and (min-width: 769px) {
  .top-kv {
    background-image: url(../img/pic_top_kv@2x.jpg);
  }
}

.top-kv__inner {
  padding: 20px 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .top-kv__inner {
    height: auto;
    display: block;
    padding: 0 10px;
  }
}

.top-kv__service-copy {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

@media screen and (min-width: 769px) {
  .top-kv__service-copy {
    text-align: left;
  }
}

.top-kv__logo {
  width: 150px;
  margin: 5px auto 0;
}

@media screen and (min-width: 769px) {
  .top-kv__logo {
    width: 250px;
    margin: 5px 0 0;
  }
}

.top-kv__main-copy {
  font-size: 28px;
  line-height: 1.4;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 769px) {
  .top-kv__main-copy {
    font-size: 42px;
    text-align: left;
    margin-top: 15px;
  }
}

.top-kv__sub-copy {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .top-kv__sub-copy {
    text-align: left;
    font-size: 14px;
  }
}

.top-kv__cta {
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#6dc497), to(#3da675));
  background: -webkit-linear-gradient(left, #6dc497 0%, #3da675 100%);
  background: linear-gradient(90deg, #6dc497 0%, #3da675 100%);
  text-align: center;
  letter-spacing: 0.1em;
  padding: 8px 10px;
  border-radius: 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 240px;
  font-size: 16px;
  color: #fff;
  position: relative;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .top-kv__cta {
    margin: 40px 0 0;
  }
}

.top-kv__cta::after {
  position: absolute;
  right: 15px;
  top: 20px;
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top-mission__ttl {
  max-width: 300px;
  margin: 0 auto;
}

.top-mission__copy {
  text-align: center;
  background: #dee426;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  max-width: 620px;
  border-radius: 5px;
  margin: 20px auto 0;
  padding: 10px;
  position: relative;
  font-weight: bold;
  line-height: 1.6;
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .top-mission__copy {
    font-size: 24px;
    margin: 30px auto 0;
  }
}

.top-mission__copy:before {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 15px solid #dee426;
}

.top-mission__main {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

@media screen and (min-width: 769px) {
  .top-mission__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 60px;
  }
}

.top-mission__main-txt-area {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-top: 20px;
}

@media screen and (min-width: 769px) {
  .top-mission__main-txt-area {
    width: calc(100% - 560px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 0;
  }
}

.top-mission__main-txt01 span {
  color: #6dc497;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  display: inline-block;
  padding-right: 30px;
}

.top-mission__main-txt01 span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #6dc497;
  position: absolute;
  right: 0;
  bottom: -1px;
}

.top-mission__main-txt01 span::before {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 1px;
  height: 35px;
  background: #6dc497;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}

.top-mission__main-txt02 {
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.8;
}

@media screen and (min-width: 769px) {
  .top-mission__main-txt02 {
    margin-top: 30px;
    font-size: 20px;
  }
}

.top-mission__main-txt03 {
  margin-top: 5px;
  font-size: 12px;
}

@media screen and (min-width: 769px) {
  .top-mission__main-txt03 {
    margin-top: 30px;
    font-size: 14px;
    width: 550px;
    line-height: 2.2;
  }
}

.top-mission__main-img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media screen and (min-width: 769px) {
  .top-mission__main-img {
    width: 560px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.top-msg {
  background: -webkit-repeating-linear-gradient(45deg, #dee426 0, #dee426 1px, #fff 1px, #fff 10px);
  background: repeating-linear-gradient(45deg, #dee426 0, #dee426 1px, #fff 1px, #fff 10px);
}

@media screen and (min-width: 769px) {
  .top-msg__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 769px) {
  .top-msg__txt {
    width: calc(100% - 570px);
  }
}

.top-msg__txt-line {
  display: block;
  margin-top: 12px;
}

@media screen and (min-width: 769px) {
  .top-msg__txt-line {
    margin-top: 25px;
  }
}

.top-msg__txt-line > span {
  display: inline-block;
  padding: 0 10px;
  border: 1px solid #dee426;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 0 #dee426;
  box-shadow: 3px 3px 0 #dee426;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  font-weight: bold;
  font-size: 16px;
}

@media screen and (min-width: 769px) {
  .top-msg__txt-line > span {
    padding: 0 15px;
    letter-spacing: 0.1em;
    font-size: 30px;
    line-height: 1.6;
  }
}

.top-msg__txt-line:first-child {
  margin-top: 0;
}

.top-msg__txt-line:nth-child(2) {
  margin-left: 8px;
}

.top-msg__txt-line:nth-child(3) {
  margin-left: 16px;
}

.top-msg__txt-line:nth-child(4) {
  margin-left: 24px;
}

.top-msg__txt-line:nth-child(5) {
  margin-left: 32px;
}

.top-msg__img {
  margin-top: 40px;
}

@media screen and (min-width: 769px) {
  .top-msg__img {
    width: 570px;
    margin-top: 0;
  }
}
